@import "../bootstrap/index";

// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 39 times
@color1: #000000; // Appears 14 times
@color2: #333333; // Appears 7 times
@color4: #de596f; // Appears 5 times


@color11: #0081c2; // Appears 3 times
@color12: #78e08f; // Appears 3 times
@color13: #1e3799; // Appears 3 times
@color14: #c0392b; // Appears 3 times
@color15: #ffd200; // Appears 3 times
@color16: #505050; // Appears 3 times
@color17: #303030; // Appears 2 times
@color18: #888888; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width3: 100%; // Appears 14 times
@width4: 40px; // Appears 5 times
@width5: 15px; // Appears 4 times
@width6: 45px; // Appears 5 times

// Height variables (appears count calculates by raw css)
@height0: 40px; // Appears 4 times
@height1: 15px; // Appears 4 times
@height2: 45px; // Appears 5 times
@height3: 100%; // Appears 3 times



h3.h3 {
	font-size:1.7em;
	margin:1em;
	text-align:center;
	text-transform:capitalize;
}
.main-header {
	width: 100%;
	background-color:@color4;
    padding: 10px 15px;
    text-align: center;
    position:relative;
    overflow: hidden;
    min-height: 80px;
    .search-form {
    	
    	  display:block;
		  left:50%;
		  position:absolute;
		  top:10px;
    	input {
    		    border:solid 3px #fff;
			    box-sizing:border-box;
			    font-size:2em;
			    height:2em;
			    margin-left:-25vw;
			    outline:solid #b1384c 0;
			    padding:.5em;
			    transition:all 1s ease-in;
			    width:50vw;
			    z-index:1;
			    padding-left:42px;
			    @media (max-width: 480px) {
			    	width: 90vw;
			    	margin-left: -45vw;
			    }
			    &:focus {
			      border:solid 3px @color4;      
			      outline:solid #b1384c 2000px;
			    }
    	}
    	
    	.search-btn {
    		    position: absolute;
			    left: -95%;
			    width: 32px;
			    height: 32px;
			    background: transparent;
			    border: none;
			    top: 10px;
    		img {
    			position:relative;
    			width: 100%;
    		}
		}
    }
}
.mobile-container {
	max-width: 640px;
}
.loader {
	text-align: center;
	padding-top:100px;
	img {
		width: 60%;
	}
}

.result-text {
	margin:10px 0px 25px;
	h2,p {
		display: inline-block;
	}
	p {
		margin-left: 15px;
		color: #a9a9a9;
	}
}
.product-grid {
	border:1px solid rgba(0,0,0,.1);
	font-family:Raleway,sans-serif;
	overflow:hidden;
	padding:0 0 72px;
	position:relative;
	text-align:center;
	z-index:1;
	margin-bottom: 15px;
	.product-image {
		position:relative;
		transition:all .3s ease 0s;
		a {
			display:block;
		}
		img {
			height:auto;
			width:@width3;
		}
	}
	.pic-1 {
		opacity:1;
		transition:all .3s ease-out 0s;
	}
	&:hover {
		.pic-1 {
			opacity:1;
		}
		.pic-2 {
			opacity:1;
		}
		.social {
			opacity:1;
			top:50%;
		}
		.product-content {
			bottom:0;
		}
		.title {
			a {
				color:@color4;
			}
		}
	}
	.pic-2 {
		left:0;
		opacity:0;
		position:absolute;
		top:0;
		transition:all .3s ease-out 0s;
	}
	
	.product-content {
		background-color:@color0;
		bottom:0px;
		left:0;
		margin:0 auto;
		padding:12px 0;
		position:absolute;
		right:0;
		text-align:center;
		transition:all .3s;
		z-index:1;
	}
	.brand-info {
		display: block;
	    margin: 0px 10px 0px;
	    text-align: left;
	    font-weight: bold;
	    font-size: 14px;
	}
	.product-name {
		display: block;
	    margin: 5px 10px;
	    text-align: left;
	    color:#a9a9a9;
	    line-height: 22px;
	    font-size: 14px;
	    @media (max-width: 480px) {
		    overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}
	.price {
		color:@color2;
		font-family:Montserrat,sans-serif;
		font-size:17px;
		font-weight:700;
		letter-spacing:.6px;
		margin-bottom:8px;
		text-align:center;
		transition:all .3s;
		span {
			
			display:inline-block;
			font-size:13px;
			font-weight:400;
			margin-left:3px;
			text-decoration:line-through;
		}
	}

	font-family:Poppins,sans-serif;
	position:relative;
	z-index:1;
	.product-image {
		border:1px solid #e4e9ef;
		position:relative;
		transition:all .3s ease 0s;
		a {
			display:block;
		}
		img {
			height:auto;
			width:@width3;
		}
	}
	&:hover {
		.product-image {
			box-shadow:0 0 10px rgba(0,0,0,.15);
		}
		.pic-1 {
			opacity:0;
		}
		.pic-2 {
			opacity:1;
		}
		.social {
			li {
				margin:0 0 10px;
				opacity:1;
				transform:translateY(0);
				&:nth-child(1) {
					transition-delay:.1s;
				}
				&:nth-child(2) {
					transition-delay:.2s;
				}
				&:nth-child(3) {
					transition-delay:.4s;
				}
			}
		}
	}
	.pic-1 {
		opacity:1;
		transition:all .5s ease-out 0s;
	}
	.pic-2 {
		left:0;
		opacity:0;
		position:absolute;
		top:0;
		transition:all .5s ease-out 0s;
	}
	.social {
		bottom:13px;
		list-style:none;
		margin:0;
		padding:0;
		position:absolute;
		right:13px;
		z-index:1;
		li {
			opacity:0;
			transform:translateY(3px);
			transition:all .5s ease 0s;
			a {
				border:1px solid grey;
				color:grey;
				display:block;
				font-size:17px;
				height:@height0;
				line-height:@height0;
				text-align:center;
				transition:all .5s ease-in-out;
				width:@width4;
				&:hover {
					border-color:@color1;
					color:@color1;
				}
			}
		}
	}
	.product-discount-label {
		-webkit-clip-path:polygon(34% 0,100% 0,100% 100%,0 100%);
		background-color:@color11;
		clip-path:polygon(34% 0,100% 0,100% 100%,0 100%);
		color:@color0;
		display:block;
		padding:4px 15px 4px 30px;
		position:absolute;
		right:0;
		top:10px;
	}
	.product-content {
		padding:10px 0 0;
	}
	.price {
		color:@color1;
		font-size:19px;
		font-weight:400;
		margin-bottom:8px;
		text-align:left;
		transition:all .3s;
		margin: 10px;
		span {
			display:block;
			font-size:14px;
			font-weight:500;
			margin-left:0px;
			text-decoration:line-through;
			clear: both;
			color: #a9a9a9;
		}
	}
	
	
}
